#bars {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: nowrap;
  align-items: baseline;
}

.bar {
  width: 20px;
  background-color: rgb(64, 151, 232);
  border: 2px solid rgb(35, 89, 139);
}
